# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [102]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd


# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [103]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [104]:
#  1. Get the total rides for each city type
total_rides = ride_data_df.groupby(["city"]).count()["ride_id"]

total_rides.head()

city
Amandaburgh      18
Barajasview      22
Barronchester    16
Bethanyland      18
Bradshawfurt     10
Name: ride_id, dtype: int64

In [109]:
# 2. Get the total drivers for each city type
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]

total_drivers.head()

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [111]:
#  3. Get the total amount of fares for each city type
total_fares = ride_data_df.groupby(["city"]).sum()["fare"]

total_fares.head()

city
Amandaburgh      443.55
Barajasview      557.31
Barronchester    582.76
Bethanyland      593.21
Bradshawfurt     400.64
Name: fare, dtype: float64

In [115]:
#  4. Get the average fare per ride for each city type. 
avg_ridefare =  total_fares / total_rides

avg_ridefare

city
Amandaburgh         24.641667
Barajasview         25.332273
Barronchester       36.422500
Bethanyland         32.956111
Bradshawfurt        40.064000
                      ...
West Robert         25.123871
West Samuelburgh    21.767600
Williamsonville     31.875000
Williamsstad        24.362174
Williamsview        26.599000
Length: 120, dtype: float64

In [117]:
# 5. Get the average fare per driver for each city type. 
avg_driverfare =  total_fares / total_drivers

avg_driverfare.head()

Amandaburgh     NaN
Barajasview     NaN
Barronchester   NaN
Bethanyland     NaN
Bradshawfurt    NaN
dtype: float64

In [88]:
#  6. Create a PyBer summary DataFrame. 
# Assemble into DataFrame.
type_summary_df = pd.DataFrame({
          "Total Rides" : total_rides ,
          "Total Drivers": total_drivers ,
          "Total Fares": total_fares,
          "Average Fare per Ride": avg_ridefare,
          "Average Fare per Driver": avg_driverfare})

type_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Amandaburgh,18.0,NaN,443.55,24.641667,NaN
Barajasview,22.0,NaN,557.31,25.332273,NaN
Barronchester,16.0,NaN,582.76,36.422500,NaN
Bethanyland,18.0,NaN,593.21,32.956111,NaN
Bradshawfurt,10.0,NaN,400.64,40.064000,NaN
...,...,...,...,...,...
West Robert,31.0,NaN,778.84,25.123871,NaN
West Samuelburgh,25.0,NaN,544.19,21.767600,NaN
Williamsonville,14.0,NaN,446.25,31.875000,NaN
Williamsstad,23.0,NaN,560.33,24.362174,NaN
Williamsview,20.0,NaN,531.98,26.599000,NaN

In [89]:
#  7. Cleaning up the DataFrame. Delete the index name
type_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')